<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!--BOOTSTRAP CSS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@1000&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/7816c50242.js" crossorigin="anonymous">
        </script>
    <title>
        <%= locals.session.pagetitle %>
    </title>
    <style>
        /* * {
            outline: 1px rgb(255, 0, 0) solid;
        } */
        .margins {
            margin-top: 69px;
        }
    </style>
</head>

<body>
    <!-- bootstrap navbar -->
    <nav class="navbar navbar-dark navbar-expand-sm bg-dark justify-content-center fixed-top">
        <a href="/i" class="navbar-brand d-flex w-50 mr-auto">Content Streaming</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="navbar-nav w-100 justify-content-center">
                <form class="form-check-inline my-2 my-md-0">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success m-2" type="submit">Search</button>
                </form>
            </ul>
            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                <% if (locals.session.loggedin) { %>
                    <% if (locals.session.pagetitle == 'dashboard' || locals.session.pagetitle == 'upload' || locals.session.pagetitle == 'userHome') { %>
                        <ul class="navbar-nav ml-auto m-auto">
                            <li class="nav-item">
                                <div class="user-info">
                                    <div class="h5 text-white "><%= locals.session.username %> </div>
                                    <div class="text-muted text-white">
                                        <%= locals.session.email %>
                                    </div>
                                </div>
                            </li>
                            <% if(locals.session.pagetitle == 'upload' ) {%> 
                
                            <% } else { %>
                                <li class="nav-item">
                                    <a href="/upload" class="nav-link">Upload</a>
                                </li>
                            <% } %>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                        </ul>
                    <% } else if(locals.session.pagetitle == 'index') {%>
                        <ul class="navbar-nav ml-auto m-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown07"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= locals.session.username  %> </a>
                                <div class="dropdown-menu" aria-labelledby="dropdown07">
                                    <a class="dropdown-item" href="/dashboard">Dashboard</a>
                                    <a class="dropdown-item" href="/upload">Upload a Video</a>
                                    <a class="dropdown-item" href="/logout">Logout</a>
                                </div>
                            </li>
                        </ul>
                    <% } else { %>
                        <ul class="navbar-nav ml-auto m-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown07"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= locals.session.username  %> </a>
                                <div class="dropdown-menu" aria-labelledby="dropdown07">
                                    <a class="dropdown-item" href="/dashboard">Dashboard</a>
                                    <a class="dropdown-item" href="/upload">Upload a Video</a>
                                    <a class="dropdown-item" href="/logout">Logout</a>
                                </div>
                            </li>
                        </ul>
                        <% } %> 
                <% } else {%>
                    <ul class="navbar-nav ml-auto m-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                    </ul>
                <% } %> 
            </ul>
        </div>
    </nav>
    <!-- end of bootstrap navbar -->
    <div class="margins">

    </div>
    <%- body %>

    <script src="/js/script.js"></script>
</body>

</html>