<%- include('dashboard') %> 

<style>

</style>
<div class="container">
    <br>
    <h1>
        Home of <%= locals.session.username %>
    </h1>
    <br>
    <h5>
        Sentiment Score: (<%= locals.senti %>)
        <% if(locals.session.sentiment > 0.0) { %> 
            <i class="fas fa-smile"></i>
        <% } else if(locals.session.sentiment < 0.0) { %>
            <i class="fas fa-frown"></i>
        <% } else { %>
            <i class="fas fa-meh"></i>
        <% } %>
        

    </h5>
    <% if(locals.history) { %> 
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-bar-chart-o fa-fw"></i>
                            Watch History of <%= locals.session.username %> 
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive ">
                            <table class="table table-bordered table-hover table-striped" style="overflow-x:auto;">
                                <thead>
                                    <tr>
                                        <th>
                                            Video name
                                        </th>
                                        <th>
                                            time
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--for each  -->
                                    <% for (var i = 0; i < locals.history.length; i++) { %>
                                    <tr>
                                        <td>
                                            <%= locals.history[i].title %>
                                        </td>
                                        <td>
                                            <%= locals.history[i].timestamp %>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>

</div>